h2,.secure{
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	
}

.secure{
	font-size: 20px;
	margin-top: 50px;
}
h2{
	margin-top: 70px;
}


.center-box{
	max-width:1024px;
	border: 1px solid rgba(75, 75, 75, 0.24);
	margin: 0 auto;
}
.logo{
	width: 100%;
	background-color:#ee4054;
	color: white;
	font-family: 'Arvo', sans-serif;
	font-size: 50px;
	height: 85px;
}

.signup_form{
	padding:20px 0px;
}

.feature{
	width: 100%;
	
	border-top: 1px solid rgba(75, 75, 75, 0.24);
}

.logo-text{
	padding:12px;
}
#facebook_login_redirect{
	text-align: center;
}

@media all and (max-width: 900px) {
	.center-box{
		position:relative;
		width:100%;
		top:auto;
		bottom:0px;
		left:0px;
		margin:0px;
		/*border: 1px solid rgba(75, 75, 75, 0.24);*/
	}
	.logo{
		width: 100%;
	}

}

.feature{
	clear:both;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	font-size: 30px;
	display:block;
	overflow:auto;

}
.feature-text,.feature-img{
	padding:40px 0px;
}

.feature-text{
	padding-left: 40px;
	float:left;
	width: 400px;
}
.feature-img{
	float: right;
	padding-right: 40px;
}