body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	min-height: 1115px;
}

.page-wrapper{
	max-width: 1024px;
	margin:0 auto;
	
	min-height: 300px;
}


.header{
	height:60px;
	max-width: 1024px;
	color: white;
	background-color:#ee4054;
	font-family: 'Arvo', serif;
	
}

.left-header-btn, .right-header-btn{
	padding:9px;
}

.header-button {
	margin-top: 8px;
	margin-right: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	float:right;
}
.header-button:active {
	padding-top: 15px;
        margin-bottom: -1px;
}
.header-button, .header-button:hover, .header-button:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.header-button-1 {
	/*appearance: push-button; */
	border:0px;
	background-color: rgb(0, 130, 0);
	box-shadow: 0px 3px 0px 0px rgb(0, 80, 0);
}
.header-button-1:hover {
	background-color: rgb(0, 120, 0);
}
.header-button-1:active {
	box-shadow: 0px 1px 0px 0px rgb(0, 130, 0);
}

.header-button-2 {
	background-color: #f06060;
	box-shadow: 0px 3px 0px 0px #cd1313;
}
.header-button-2:hover {
	background-color: #ed4444;
}
.header-button-2:active {
	box-shadow: 0px 1px 0px 0px #cd1313;
}

.left-header-btn{
	float:left;
	font-size: 35px;
}

.right-header-btn{
	float:right;
	font-size: 20px;
	padding: 17px;
	margin-right: 3px;
	background-color: #f15c44;

}

.right-header-btn a{
	text-decoration: none;
	color: white;
}

.welcome,.error{
	padding: 10px;
	background-color: #d73a4c;
	color: white;
	height: 25px;
}

.error{
	background-color: #A21021;
	color: white;
	text-align: center;
}

.welcome_message{
	float:left;
}

.ord_form{
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	height: 270px;
	background-color: rgb(0, 112, 0);
	width: 100%;
}

.ord-prompt{
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	color: white;
	margin-top: 0px;
}

.ord_entry{
	background-color: rgb(0, 100, 0);
	padding: 25px;
	margin: 15px;
	float: right;
	color:white;
	font-size: 20px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.34);
	box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.34);
}

.orddate{
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 70px;
	font-weight: 300;
	padding-top: 15px;
	clear:both;
}

#id_ORDDate{
	height:30px;
	font-size: 20px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;

}


.reject-button{
	border:0px;
}

.sar21{
	position:absolute;
	bottom: 0px;
	left:10px;
}

.timer-box{
/*	-webkit-box-shadow: inset 0px 0px 66px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 66px -7px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 66px -7px rgba(0,0,0,0.75);
*/	

	/*margin-top: -80px;*/
	max-width: 1024px;
	/*height:280px;*/
	
}

.timer-element{
	height:270px;
	width:310px;
	float:left;
	margin:15px;
	border-radius: 6px;
}

.n1{
	background-color: #ed4054;
}

.hero-number{
	font-size:100px;
	font-weight: 100;
	padding-top: 40px;
}
#hero-percent{
	font-size:100px;
	font-weight: 100;
	padding-top: 40px;
}
.sub-hero-number{
	font-size: 40px;
	font-weight: 100;

}
.n2{
	background-color: #f15c44;
}
#defaultCountdown{
	font-size: 100px;
	text-align: center;
	font-weight: 100;
	color:white;
	height: 100px;
}

.countdown_row,.countdown_section,.countdown_rtl,.countdown_amount{
	margin:0px;
	padding: 0px;
}
.n3{
	background-color: #f37531;
}

.timer-box > th, .timer-box > td{
	border:1px solid black;
}


/*container*/
.friend-table-box{ 
	min-height:400px;

	/*multi-div centering*/
	text-align: center;
	width:100%;
}

.friend-table-box th, .friend-table-box td{
	border-bottom: 1px solid black;
	padding: 15px;
}


/*square*/
.friend-card,.friend-card-promo{
	display:inline-block; 
	text-align:left;
	width: 430px;
	height: 250px;
	background-color: #ee4054;
	/*float: left;*/
	margin:10px;
	vertical-align:top; /*IMPORTANT!*/
	/*margin-top: 15px;*/
}

.friend-card-top{
	height: 70px; 
	padding: 0px;

}

.friend-card-index{
	height: 70px;
	width: 70px;
	background-color: rgba(255,255,255,0.85);
	font-size: 50px;
	text-align: center;
	float: left;
	/*margin-top: -5px;*/
}

.friend-card-name{
	float:left;
	color:white;
	font-size: 30px;
	padding: 15px;
	height: 40px;
	max-width: 255px;
	padding-left: 20px;
}

.friend-card-name-table a{
	color:white;
	font-size: 20px;
}

.friend-card-img{
	float:left;

}

.friend-card-name a:link, .friend-card-name a:visited, .friend-card-name a:hover, .friend-card-name a:active, .friend-card-name a:focus { 
	/*text-decoration: none;*/
	color: white;
}

.friend-card-mid{
	height: 120px;
	
	background-color: rgba(255,255,255,0.1);
	

}

.friend-card-ORD{
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 27px;
	font-weight: 300;
}

.friend-card-bot{

}

.friend-card-days-remain{
	height: 60px;
	width: 215px;
	color: white;
	font-size: 40px;
	font-weight: 300;
	float: left;
}

.friend-card-percent{
	float: left;
	text-align: center;
	background-color: #f37531;
	height: 60px;
	width: 215px;
	color: white;
	font-size: 40px;
	font-weight: 300;
}

.friend-card-promo{
	text-align: center;
	border: 6px dashed black;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

}

.friend-card-promo p{
	text-align: center;
	color: white;
	padding: 30px;
	font-size: 20px;
}

.n1 table,.n2 table,.n3 table{
	color:white;
}

th,td{
	/*border: 1px solid black;*/
	text-align: center;
}


@media all and (max-width: 1035px) {
	.timer-element{
		float:none;
		margin: 0 auto;
		width:100%;
		border-radius: 0px;
	}
	.n1 table,.n2 table,.n3 table{
	margin: 0 auto;
	}
}

@media all and (max-width: 1005px) {
	.orddate{
		font-size: 47px;
	}

	.friend-card{
		float:none;
		/*margin:0 auto;*/
		margin-top: 15px;
	}


}

@media all and (max-width: 650px) {
.ord_form{
	height: 400px;
	padding-top: 30px;
}
.ord_entry{
	float: none;
	margin: 0 auto;
	width: 270px;
	height: 190px;
}

}


