{% load staticfiles %}
{% load static %}
<head>
		<meta name="viewport" content="width=550">
		<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" charset="utf-8">
		<link href='http://fonts.googleapis.com/css?family=Arvo|Roboto:400,300,100,500' rel='stylesheet' type='text/css'>

		<meta property="og:title" content="ORDloh"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.ordloh.com"/>
	<meta property="og:image" content="http://www.ordloh.com/static/img/sar21-p.png"/>
	<meta property="og:site_name" content="ORDloh"/>
	
	<meta property="og:description"
	  content="See when you and your friends ORD!"/>
</head>

<body>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=755636921135503&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="center-box">
		<div class="logo">
			<div class="logo-text" style="float:left;">ORDloh</div>
			<div style="float:right"><img height="85px" src="{% static "img/sar21-p.png" %}"></div>
		</div>

		<form class="signup_form" action="{% url 'facebook_connect' %}" method="post">
				<h2>Track when you and your friends ORD. <br>And shove it in their faces.</h2>
				<br />
				{% csrf_token %}
				<input type="hidden" value="{{ request.path }}" name="next" />
				<input type="hidden" value="{{ request.path }}" name="register_next" />

				<!--
				use error next for a seperate error page
				<input type="hidden" value="/error/" name="error_next" />
				-->

				<div id="facebook_login_redirect">
						<input type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
				</div>

				<div class="secure"><img src="https://cdn1.iconfinder.com/data/icons/defaulticon/icons/png/256x256/padlock-closed.png" height="16px;">  We will never post to Facebook without your permission</div>
		</form>

		<div class="feature">
			<div class="feature-text">
				<div class="feature-title">
					See when your friends ORD.
				</div>
				<div class="feature-content">
					
				</div>
			</div>
			<div class="feature-img">
				<img width="400px" src="{% static "img/demo_card.png" %}">
			</div>
		</div>
		
		<div class="feature">
			<div class="feature-text">
				<div class="feature-title">
					See detailed info about your ORD.
				</div>
				<div class="feature-content">
					
				</div>
			</div>
			<div class="feature-img">
				<img width="400px" src="{% static "img/demo_panel.png" %}">
			</div>
		</div>
		<div style="padding:10px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ordloh.com" data-hashtags="ORDloh">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				<div class="fb-like" data-href="http://www.ordloh.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></div>
</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-55978518-1', 'auto');
	ga('send', 'pageview');

</script>
</body>
